* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: coral;
    color: white;
}


#navbar {
    background-color: #333;
    min-width: 100vh;
    height: 25px;
}
#navbar a {
    display: inline;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: #777;
    color: black;
    cursor: pointer;
}



.sidebar {
    float: left;
    width: 10%;
    min-height: 100vh;
    background-color: #bebebe;
    display: default;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.sidebar li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}
.sidebar li a:hover {
    background-color: #555;
    color: white;
    cursor: pointer;
}

.active {
    background-color: coral;
    color: white;
}


iframe {
    /*don't need float and width but it helps ensure style doesn't break if .sidebar is changed*/
    float: right;
    width: 90%;
    min-height: 100vh;
    border: none;
}